.pagination_pages_wrapper {
    display: flex;
    flex-direction: row;
}
.pagination_wrapper {
    --pagination-position: flex-end;
    display: flex;
    justify-content: var(--pagination-position);
    flex-direction: row;
    // .pagination_btn {
    //     cursor: pointer;
    //     color: black;
    //     // padding: 8px 16px;
    //     text-decoration: none;
    //     &:active {
    //         background-color: rgb(11, 226, 18);
    //         color: white;
    //         border-radius: 5px;
    //     }
    //     // &:hover:not(.active) {
    //     //     background-color: #ddd;
    //     //     border-radius: 5px;
    //     // }
    // }
}
.disabled {
    cursor: not-allowed;
}