@import '../../../Styles/vars.scss';

.hover-btn {
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 50%;
    height: 70%;
    width: 9vmax;
    z-index: 3;
    visibility: hidden;
    cursor: pointer;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: var(--mainGreen);
    &:hover {
        background-color: var(--baseHoverButtonHover);
        border: 1px solid rgb(198, 198, 198);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    &:active {
        background-color: var(--baseHoverButtonActive);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    }
    &:focus {
        outline: none;
    }
}
