:root {
    /** COLORS **/
    --main: #ffffff;
    --titleGray: rgba(33, 51, 68, 0.56);
    --mainGreen: #66c05d;
    --mainGray: rgba(33, 51, 68, 0.04);
    --borderGray: rgba(33, 51, 68, 0.1);
    --baseHoverButtonHover: #4d9247;
    --baseHoverButtonActive: #6cce63;
    --lightGray: rgba(255, 255, 255, 0.2);

    /** FONT FAMILY **/
    --mainFontFamily: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
